---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ProjectsComponent from "@components/projects.astro";

const projects = [
  {
    name: "Interpret.ai",
    tech: "Postgres, Python, React, LLMs, TypeScript",
    popular: true,
    features: [
      "Live Translation/Transcription",
      "Document management",
      "Live Broadcasting",
      "React Native mobile app",
    ],
    button: {
      text: "Translate with Interpret!",
      link: "https://interpretapp.ai/",
    },
  },
  {
    name: "AI Assist",
    tech: "Go, Next.js, Twilio, Retell AI, Firebase",
    popular: false,
    features: [
      "AI IT Phone Support",
      "Conversational AI",
      "Active Call Logging",
      "Automated Ticket Creation",
      "Twilio Integration",
    ],
    button: {
      text: "Check out the Devpost",
      link: "https://devpost.com/software/it-assist",
    },
  },
  {
    name: "Rescue Ready VR",
    tech: "Unity, C#, Oculus Quest",
    popular: true,
    features: [
      "VR Evacuation Training",
      "Unity 3D Environment",
      "Oculus Quest Integration",
      "Realistic Fire Scenario",
    ],
    button: {
      text: "Check out the Devpost",
      link: "https://devpost.com/software/rescue-ready-vr",
    },
  },
  {
    name: "Docufiller AI",
    tech: "React, Python, OpenAI",
    popular: false,
    features: [
      "Automated Document Filling",
      "Click to drag interface",
      "File Management",
      "Custom Prompt Input",
    ],
    button: {
      text: "Check out the Devpost",
      link: "https://devpost.com/software/docufiller-ai",
    },
  },
  {
    name: "3Datalyze",
    tech: "Unity, C#, Oculus Quest",
    popular: true,
    features: [
      "3D Data Simulation",
      "Passthrough 3D Environment",
      "Oculus Quest Integration",
      "Realistic Data Visualization",
    ],
    button: {
      text: "Check out the Devpost",
      link: "https://devpost.com/software/table-61",
    },
  },
  {
    name: "BuyBuddy",
    tech: "Firebase, Python, Streamlit, OpenAI",
    popular: false,
    features: [
      "Amazon.au product recs",
      "An understanding assistant",
      "AI Function Calling",
      "Google Sign In Auth",
    ],
    button: {
      text: "Check out the Github",
      link: "https://github.com/BustosAndrew/buybuddyapp",
    },
  },
  {
    name: "Lirical",
    tech: "Next.js, Firebase, Chakra UI, Stripe",
    popular: true,
    features: [
      "Generate lyric ideas",
      "Speech to text input",
      "Audio Transcription",
      "Stripe Subscription",
      "Account Management",
    ],
    button: {
      text: "Generate some lyrics!",
      link: "https://lirical.webflow.io/",
    },
  },
  {
    name: "File Manager",
    tech: "Electron, React, Material UI, Node",
    popular: false,
    features: [
      "Free to use",
      "Desktop only",
      "Bulk update files/folders",
      "Specify search parameters",
      "Replace specific characters",
    ],
    button: {
      text: "Check out the Github",
      link: "https://github.com/BustosAndrew/Desktop-Tools",
    },
  },
  {
    name: "Honest Reviews",
    tech: "React, Firebase, Material UI",
    popular: true,
    features: [
      "Account Management",
      "Post an honest review",
      "Upvote/downvote reviews",
      "Light/dark mode",
    ],
    button: {
      text: "Make your first review!",
      link: "https://honestreviews.netlify.app/",
    },
  },
];
---

<Layout title="Projects">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Projects</Fragment>
      <Fragment slot="desc">Check out all of my projects below!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {projects.map((item) => <ProjectsComponent plan={item} />)}
    </div>
  </Container>
</Layout>
