---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Dynamic Web Apps",
    description:
      "For more complex web applications, I can build high quality dynamic web apps that effectively address business issues.",
    icon: "ic:outline-dynamic-form",
  },
  {
    title: "B2C Websites",
    description:
      "For building customer facing sites, I use CMS technologies like Shopify and Webflow to quickly get a business online.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Cross-platform Development",
    description:
      "For cross-platform apps, I use technologies like React Native or Flutter to build apps that work regardless of platform.",
    icon: "ph:desktop",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What kind of work do I do?
  </h2>
  <p class="text-lg mt-4 text-slate-600 max-w-4xl">
    I develop fullstack web applications to solve specific problems, no matter how niche. <wbr/> I also create
    customer facing websites to help suit the needs of any business.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
