---
import { Image } from 'astro:assets';
import heroImage from "assets/profile.jpeg";
import Link from "@components/ui/link.astro";
import { Icon } from 'astro-icon/components'
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={heroImage}
      alt="Picture of Andrew Bustos"
      widths={[200, 400, 500]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      style="border-radius: 50%; box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Fullstack Engineer Andrew Bustos
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Since early 2021, I've been developing web apps
      to hone my skills as a web developer. I also specialize in CMS web
      development using Webflow or other apps to bring marketing sites up to speed very quickly.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/projects"
        class="flex gap-1 items-center justify-center shadow-xl"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="ant-design:project-outlined" />
        My Projects
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/BustosAndrew"
        class="flex gap-1 items-center justify-center shadow-xl"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        My GitHub
      </Link>
    </div>
  </div>
</main>
